/* under construction image on front page */
.body-image{
  background:url("/images/underconstruction.jpg");
  /* Full height */
  height: 100%; 
  width: 100%;
  background-size: cover;
}
/* styling the navbar in navbar.blade.php */
.nav-link{
  color: rgb(255,255,255) !important;
  font-weight: 700;
  background-color: transparent;
}
.bg-breeze{
  background-color: #438496;
}
.navbar-brand{
  color: rgb(255, 255, 255);
  font-size: 2em;
}
/* blog page */
.background-blog{
  background-color: rgba(179, 125, 78, 0.35);
}
.blog-header-text{
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-size: 2.3em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.blog-chapter-heading{
  margin-top: 1.1em;
  margin-bottom: 0.5em;  
}
.href-custom{
  color: black;
  text-decoration: underline;
}
